body {
  background-image: url('./artAssets/storeBackground.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#storeMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vh;
  gap: 10px;
}

#weapons, #potions, #npcs {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.244);
  border: 10px solid rgba(0, 0, 0, 0.1);
}

#weapons {

}

#potions {
}

#npcs {
}