body {
  background-image: url('./artAssets/background.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#gameScreen {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 90vh;
  justify-content: center;
  align-content: center;
}

#bottomBar {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  font-size: 50px;
  gap: 50px;
}

#store {
  display: flex;
  justify-content: flex-end;
}

#store img {
  width: 30%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.091);
}

#coins {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gold;
  gap: 25px;
}

#coins img {
  width: 30%;
  height: auto;
}

#store img, #coins {
  background-color: rgba(67, 62, 69, 0.672);
  border-radius: 20px;
  padding: 20px;
  border: 10px solid black;
}

#healthBar{
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: end;
}

#healthBar img {
  width: 50%;
  height: 50%;
}

#monster {
  display: flex;
  justify-content: center;
  align-content: center;
}