body {
  background-image: url('./artAssets/storeBackground.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#storeMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vh;
}

#weapons {
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
}

#potions {
  background-color: rgb(255, 0, 0);
}

#npcs {
  background-color: rgb(0, 255, 38);
}